@using TradingManagmentSystem.Models;
@model CoinsWrapper

@{
    ViewBag.Title = "Home Page";
}
<div class="container">

    <div class="row col-md-4">
        <h4>
            Your coins <input type="text" size="9" id="Coins" value="0">
        </h4>
    </div>
</div>

<div class="container">
    <div class="row col-md-4">
        <h4>
            Avaliable Coins:
            1 @Html.EditorFor(modelItem => Model.Avaliable1)
            2 @Html.EditorFor(modelItem => Model.Avaliable2)
            5 @Html.EditorFor(modelItem => Model.Avaliable5)
            10 @Html.EditorFor(modelItem => Model.Avaliable10)
        </h4>
    </div>
</div>
<h4>
    <p><input type="submit" value="Отправить" /></p>
</h4>